@model List<Classes>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (@Context.Session.GetString("UserRole") == "True")
{
    @await Html.PartialAsync("~/Views/Users/_SideBar.cshtml");
}
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Section ID
            </th>
            <th>
                Class Title
            </th>
            <th>
                Start Date
            </th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Classes item in Model)
        {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.SectionID
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
