
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:darkorange">Idaho State University, College of Business -- Class Web</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ClassWeb</h2>
        <p>
            ClassWeb is a website where students can manage
            Assignments for classes taken each semester. It is designed
            for ISU College of Business Students and faculty members.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Login Here</h2>
        @await Html.PartialAsync("../Account/_LoginPartial.cshtml")
        <input type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
        <input type="button" value="Group Login" onclick="@("window.location.href='" + @Url.Action("LoginGroup", "Group") + "'");" />


    </div>
    <div class="col-md-4">
        <h2>Request Registration</h2>
        <input type="button" value="Register Account" onclick="@("window.location.href='" + @Url.Action("AddUser", "Account") + "'");" />
        <input type="button" value="Register Group Account" onclick="@("window.location.href='" + @Url.Action("AddGroup", "Group") + "'");" />
    </div>
</div>

