@using System.Web;

@model ClassWeb.Controllers.FileEditorController.DataModel;

<a style="color:blue" href='javascript:history.go(-1)'>Return back</a><br /><br />

<form id="send_form" asp-action="Test" asp-controller="FileEditor">
    <input type="hidden" value=@ViewBag.FileName name="FileName" />
    <div class="col-md-7">
        <div class="form-group">
            <button type="submit">Save</button>
            <ejs-richtexteditor ejs-for="Value" id="Value"></ejs-richtexteditor>
            <br />
        </div>
    </div>
</form>

@*if (ViewBag.content == "Html")
{
    <button type="submit" class="btn-outline-success btn glyphicon glyphicon-save">Submit</button> <br/><br />
    <form id="send_form" asp-action="Test" asp-controller="FileEditor">
        <ejs-richtexteditor id="types" height="500px" width="700px" ejs-for="Value" editorMode="Markdown"></ejs-richtexteditor>
        <br />
    </form>
}
else
{
    <button type="submit" class="btn-outline-success btn glyphicon glyphicon-save">Submit</button> <br /><br />
    <form id="send_form" asp-action="Test" asp-controller="FileEditor">
        <ejs-richtexteditor id="types" height="500px" ejs-for="Value" editorMode="HTML"></ejs-richtexteditor>
        <br />
    </form>
}


@*<script>
        document.getElementById('Save').addEventListener('click', function () {
            var obj = document.getElementById('types').ej2_instances[0];
            //var value = JSON.stringify({ text: obj.value });
            window.location.href = "/Home/Index";

            @*jQuery.ajax({
                type: "POST",
                url: "@Url.Action("Save")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data = JSON.stringify({ text: obj.value }),
                success: function (data) {
                    alert(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script>*@

@*<script>
        document.getElementById('Save').addEventListener('click', function () {
            //var filename = @ViewBag.FileName;
            var filename = "README.txt"
            var obj = document.getElementById('types').ej2_instances[0];
            var value = JSON.stringify({ text: obj.value });
            //window.location.href = "FileEditor";
            window.location.href = $.post('@Url.Action("Save", "FileEditor")' + '/?Name' + filename);
            //window.location.href = '@Url.Action("Index", "FileEditor")' + '/?Name=' + filename;

            @*const Http = new XMLHttpRequest();
            const url = '@Url.Action("Save")';
             Http.open("POST", url);
             Http.setRequestHeader('Content-Type', 'application/json');
            //Http.send(value, filename);
             Http.send();

            document.getElementById("demo").innerHTML = value;

        });

    </script>*@







