@model List<Assignment>
<h4 class="text-info font-weight-bold">Upload Assignment</h4>
<div class="input-group">
    <form asp-controller="Upload" asp-action="index" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Select File:</span>
                <input type="file" id="file" name="file" class="input-group-text">
                <input type="submit" class="btn btn-outline-success" value="Upload" />
            </div>
        </div>
        <p class="info alert-warning">  @ViewBag.Message</p>
    </form>
</div>
<br />
<br />
<h2 class="text-success text-center">Document List</h2>
<table class="table table-striped bg-light">
    <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">File Size</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>

        @for (var i = 0; i <= Model.Count - 1; i++)
        {
        <tr class="mt-5">
            <td>@Model[i].Name</td>
            <td>@Model[i].FileSize KB</td>
            <td><span class=" glyphicon glyphicon-save"> @Html.ActionLink("Download", "Download", new { FileName = Model[i].Name })</span></td>
            <td><span class=" glyphicon glyphicon-eye-open">  @Html.ActionLink("Delete", "Delete", new { FileName = Model[i].Name })</span>  </td>
            <td><span class=" glyphicon glyphicon-eye-open">  @Html.ActionLink("View", "View", new { FileName = Model[i].Name })</span>  </td>
            <td><span class=" glyphicon glyphicon-edit">  @Html.ActionLink("Edit", "Edit", new { FileName = Model[i].Name })</span>  </td>
        </tr>
        }
    </tbody>
</table>