@model List<ClassWeb.Models.Semester>

@{
    ViewData["Title"] = "Index";
}
<p style="color:blue">
    @ViewData["SemesterAdd"]
</p>

<p style="color:red">
    @ViewData["SemesterAdd"]
</p>

<a style="color:blue" href='javascript:history.go(-1)'>Return to the dashboard</a><br /><br />
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>ID</p>
            </th>
            <th>
                <p>Name</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
