@model List<ClassWeb.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p style="color:blue">
    @ViewData["SectionAdd"]
</p>

<p style="color:red">
    @ViewData["SectionDelete"]
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>ID</p>
            </th>
            
            <th>
                <p>SectionNumber</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
