@model List<ClassWeb.Models.Group>

@{
    ViewData["Title"] = "Index";

}
@{var i = 1;}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<h4>Group</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>EmailAddress</p>
            </th>
            <th>
                <p>UserName</p>
            </th>
            <th>
                <p>Users in Group</p>
            </th>
            @*<th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateModified)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignmentID)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users)
                </td>
                @*<td>
                    @foreach (var name in item.Users)
                    {
                        @Html.DisplayFor(modelItem => item.Users[i].FirstName) <br />
                        i = i + 1;
                        <br />

                    }
                </td>*@

                @*<td>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.DateDeleted)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.DateModified)
                    </td>*@
                @*<td>
                        @Html.DisplayNameFor(model => model.AssignmentID)
                    </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>