@model ClassWeb.Models.CourseSemester

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseSemester</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            Semester Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester.Name)
        </dd>
        <dt>
            Academic Year
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year.Year1)
        </dd>
        <dt>
            Section Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section.SectionNumber)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
