@model List<object>
@{
    ViewData["Title"] = "Dashboard";
}
<div style="float:right">
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="logout">Logout</a>

</div>
<h2>User Dashboard</h2>
<p style="color:red">@TempData["Error"]</p>
<p style="color:orange">@TempData["Message"]</p>
<!-- Page content -->
<div class="card-columns">
    <div class="card m-3" style="min-width:7rem;min-height:7rem; height:15rem;width:25rem; max-width:25rem;max-height:25rem;">
        <div class="card-header"><a class="text-primary" asp-action="SetDefaultDir" asp-controller="Assignment">Assignment List</a></div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">All the assignment from all the class is viewable from here.</p>
        </div>
    </div>
    @if (Model.Count > 0)
    {
        @foreach (object obj in Model)
        {
            @if (typeof(ClassWeb.Models.Group) == obj.GetType())
            {
                ClassWeb.Models.Group Group = (ClassWeb.Models.Group)obj;
                <div class="card  m-3" style="min-width:7rem;min-height:7rem; height:15rem;width:25rem; max-width:25rem;max-height:25rem;">
                    <div class="card-header"><a class="text-primary" asp-action="SetDefaultDir" asp-controller="Assignment">@Group.Name</a></div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">@Group.Name file can be viewed from here</p>
                    </div>
                </div>
            }
            @if (typeof(ClassWeb.Models.CourseSemester) == obj.GetType())
            {
                ClassWeb.Models.CourseSemester Class = (ClassWeb.Models.CourseSemester)obj;
                <div class="card m-3" style="min-width:7rem;min-height:7rem; height:15rem;width:25rem; max-width:25rem;max-height:25rem;">
                    <div class="card-header"><a class="text-primary" asp-action="SetDefaultDir" asp-controller="Assignment">Assignment List</a>@Class.Course.Title</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">This is a Class card.</p>
                    </div>
                </div>
            }

        }

    }
</div>
