@model List<ClassWeb.Models.Assignment>

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Dashboard ";
}
<p style="color:blue">@ViewBag.folder</p>
<p style="color:red">@ViewData["PermissionErr"]</p>

<div style="float:right">
    <a href="EditProfile"><i style="font-size: 30px; float: right" class="glyphicon glyphicon-user"></i></a>
    <a href="Notification"><i style="font-size: 30px; float:right" class="glyphicon glyphicon-bell"></i></a>

    <br /><br />
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="logout">Logout</a>
    <a style="color:darkblue; float: right" asp-controller="account" asp-action="">Edit Profile <text>&nbsp;</text></a>
</div>

<div>
    <h3 style="color:darkorange;display:inline-block">Group Dashboard</h3><br />
    <p class="text-danger">@TempData["Message"]</p>
    <p class="text-danger">@TempData["Error"]</p>
    <h4 style="color:blue; font-size: 20px">Welcome, @Context.Session.GetString("username")</h4><br />

    <a style="color:blue" href="/Assignment/index" target="_blank">Browse Your Files Directory</a><br /><br />
    <a style="color:blue" href="/CourseSemester/index" target="_blank">Classes Details</a><br /><br />
    <a style="color:blue" asp-controller="Assignment" asp-action="Index"><strong>Upload Files</strong></a> <br /><br />
</div>



