@model ClassWeb.Models.CourseSemester

@{
    ViewData["Title"] = "ActiveClassView";
}
<h3 style="color:orange; display:inline-block">Class Page</h3><br />

@{
    //getting data from viewbag
    var stdlist = ViewBag.Students as IEnumerable<ClassWeb.Models.ViewGroupUser>;
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 30%;
        border-radius: 5px;
    }

    .container {
        padding: 2px 16px;
        color: black;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }


    .sidenav {
        width: 130px;
        position: fixed;
        z-index: 1;
        top: 150px;
        left: 10px;
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 15px;
            color: #2196F3;
            display: block;
        }

            .sidenav a:hover {
                color: #064579;
            }

    .main {
        margin-left: 140px; /* Same width as the sidebar + left position in px */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>

<body>
    <div style="float:right">
        <a href="EditProfile"><i style="font-size: 30px; float: right" class="glyphicon glyphicon-user"></i></a>
        <a href="Notification"><i style="font-size: 30px; float:right" class="glyphicon glyphicon-bell"></i></a>

        <br /><br />
        <a style="color:darkblue; float: right" asp-controller="account" asp-action="logout">Logout</a>
        <a style="color:darkblue; float: right" asp-controller="account" asp-action="">Edit Profile <text>&nbsp;</text></a>
    </div>

    <div class="sidenav">
        <a href="/Admin/ProfessorDashboard">Dashboard</a>
        <a href="/CourseSemester/Create">View Students</a>
        <a href="">Add Student</a>
        <a href="">Manage Assignments</a>
    </div>

    <div class="main">
            <p style="color:orange;">
                @Model.Course.Title - @Model.Section.Number<br />
                @Model.Semester.Name, @Model.Year.Year1
            </p>
        <h3 style="color:cadetblue"> List of Students:</h3>
        <table class ="table" style="width:auto; height:auto;">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            @foreach (var s in stdlist)
            {
                <tbody>
                    <tr class="mt-12">
                        <td>@Html.DisplayFor(modelItem => s.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => s.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => s.EmailAddress)</td>
                        <td><a asp-action="Delete" asp-route-id="@s.ID"><span class=" btn-outline-danger btn glyphicon glyphicon-trash"></span>Delete</a></td>
                    </tr>
                </tbody>
            }
        </table>


    </div>
</body>

