@model List<ClassWeb.Models.Role>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h2>Roles and Permission</h2>
@if (@Context.Session.GetString("UserRole") == "True")
{
    @await Html.PartialAsync("~/Views/Users/_SideBar.cshtml");
}
<p style="color:blue">
    @ViewData["RoleDelete"]
</p>
<p style="color:blue">
    @ViewData["RoleAdd"]
</p>
<table class="table table-striped">
    <thead class="bg-primary">
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>IsAdmin</p>
            </th>
            <th>
                <p>Users</p>
            </th>
            <th>
                <p>Roles</p>
            </th>
            <th>
                <p>Assignment</p>
            </th>
            <th>
                <p>Group</p>
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td class="users">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <p>Delete&nbsp;</p>
                            </th>
                            <th>
                                <p>Add&nbsp;</p>
                            </th>
                            <th>
                                <p>View</p>
                            </th>
                            <th>
                                <p>Edit&nbsp;</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="delete">@Html.DisplayFor(modelItem => item.Users.Delete)</td>
                            <td class="Add">@Html.DisplayFor(modelItem => item.Users.Add)</td>
                            <td class="view">@Html.DisplayFor(modelItem => item.Users.View)</td>
                            <td class="Edit">@Html.DisplayFor(modelItem => item.Users.Edit)</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>AsBinary&nbsp;</th>
                            <th>DAVESet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Users.AsBinary)</td>
                            <td>@Html.DisplayFor(modelItem => item.Users.DAVESet)</td>
                        </tr>
                    </tbody>
                </table>

            </td>
            <td class="roles">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <p>Delete&nbsp;</p>
                            </th>
                            <th>
                                <p>Add&nbsp;</p>
                            </th>
                            <th>
                                <p>View&nbsp;</p>
                            </th>
                            <th>
                                <p>Edit&nbsp;</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="delete">@Html.DisplayFor(modelItem => item.Roles.Delete)</td>
                            <td class="Add">@Html.DisplayFor(modelItem => item.Roles.Add)</td>
                            <td class="view">@Html.DisplayFor(modelItem => item.Roles.View)</td>
                            <td class="Edit">@Html.DisplayFor(modelItem => item.Roles.Edit)</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>AsBinary&nbsp;</th>
                            <th>DAVESet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Roles.AsBinary)</td>
                            <td>@Html.DisplayFor(modelItem => item.Roles.DAVESet)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="Assignment">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <p>Delete&nbsp;</p>
                            </th>
                            <th>
                                <p>Add&nbsp;</p>
                            </th>
                            <th>
                                <p>View&nbsp;</p>
                            </th>
                            <th>
                                <p>Edit&nbsp;</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="delete">@Html.DisplayFor(modelItem => item.Assignment.Delete)</td>
                            <td class="Add">@Html.DisplayFor(modelItem => item.Assignment.Add)</td>
                            <td class="view">@Html.DisplayFor(modelItem => item.Assignment.View)</td>
                            <td class="Edit">@Html.DisplayFor(modelItem => item.Assignment.Edit)</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>AsBinary&nbsp;</th>
                            <th>DAVESet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Assignment.AsBinary)</td>
                            <td>@Html.DisplayFor(modelItem => item.Assignment.DAVESet)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="Group">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <p>Delete&nbsp;</p>
                            </th>
                            <th>
                                <p>Add&nbsp;</p>
                            </th>
                            <th>
                                <p>View&nbsp;</p>
                            </th>
                            <th>
                                <p>Edit&nbsp;</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="delete">@Html.DisplayFor(modelItem => item.Group.Delete)</td>
                            <td class="Add">@Html.DisplayFor(modelItem => item.Group.Add)</td>
                            <td class="view">@Html.DisplayFor(modelItem => item.Group.View)</td>
                            <td class="Edit">@Html.DisplayFor(modelItem => item.Group.Edit)</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>AsBinary&nbsp;</th>
                            <th>DAVESet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Group.AsBinary)</td>
                            <td>@Html.DisplayFor(modelItem => item.Group.DAVESet)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
